<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.hOz.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.032</string>
	<key>CFBundleVersion</key>
	<string>0.032</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 h[Oz]. All rights reserved.</string>
	<key>QCPlugInClasses</key>
	<array>
		<string>hOzLeapDevicePlugIn</string>
		<string>hOzLeapHandReaderPlugIn</string>
		<string>hOzLeapPointableReaderPlugIn</string>
		<string>hOzLeap3DTransformationPlugIn</string>
	</array>
</dict>
</plist>
